@page
@model Memcach.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Delete User";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center mb-4">Delete User</h1>

        <h3>Are you sure you want to delete this user?</h3>
        <div>
            <h4>User Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Email)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="User.ID" />
                <div class="text-center">
                    <input type="submit" value="Delete" class="btn btn-danger btn-lg" />
                    <a class="btn btn-secondary btn-lg" asp-page="./Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
